n8n_flow.json
{
  "name": "BeyondTime Backend Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "validate-role-change",
        "options": {}
      },
      "name": "Validate Role Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        140
      ],
      "webhookId": "f7e8a9f0-d3b1-4c6e-8a21-9e8e0c0f7a3b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.newRole}}",
              "operation": "equal",
              "value2": "Admin"
            }
          ]
        }
      },
      "name": "Is new role Admin?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        140
      ]
    },
    {
      "parameters": {
        "responseCode": 403,
        "options": {}
      },
      "name": "Respond: Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        40
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "options": {}
      },
      "name": "Respond: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        240
      ]
    },
    {
      "parameters": {
        "path": "send-telegram-notification",
        "options": {}
      },
      "name": "Receive Notification Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        360
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
    },
    {
      "parameters": {
        "chatId": "={{$json.body.chatId}}",
        "text": "={{$json.body.message}}",
        "additionalFields": {}
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        360
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Credentials"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond To App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        440,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/start"
            }
          ]
        }
      },
      "name": "Is /start command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        540
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Hello! I am the BeyondTime Bot. I will send you routine notifications here.\n\nPlease copy your Chat ID below and add it to your user profile in the app:\n`{{$json.message.chat.id}}`",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "name": "Send Welcome & Chat ID",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        920,
        540
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Credentials"
        }
      }
    }
  ],
  "connections": {
    "Validate Role Change": {
      "main": [
        [
          {
            "node": "Is new role Admin?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is new role Admin?": {
      "main": [
        [
          {
            "node": "Respond: Forbidden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: OK",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Receive Notification Request": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Respond To App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is /start command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /start command?": {
      "main": [
        [
          {
            "node": "Send Welcome & Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
